<!DOCTYPE html>
<html lang="en">

<head>
    <title>BytePad</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <img src="{% static 'images/logo.png' %}" style="display: block; margin: 0 auto; height: 20vh; width: 24vh; padding-top: 10vh;">
    <div class="main">
        <h2>BYTEPAD</h2>
        <h1>WE WILL BE BACK SOON!</h1>
    </div>

    <div class="container" id="footer">
        <p>POWERED BY <a href="http://www.silive.in" style="color: white; font-weight: bold;">SOFTWARE INCUBATOR</a></p>
    </div>
</body>

</html>